<!doctype html>
<html>
    <head>
       <title>index page</title> 
    </head>
    <body>
        <p>This demonstrates iteration over a list in templating</p>
       <h1>Index Page</h1> 
       
       <p>iterate over articles</p>
       <ul>
          {% for article in articles%}
            <li>{{article}}</li>
          {% endfor %}
       </ul>
       <p>iterate over users</p>
       <ul>
          {% for user in users%}
            <li>{{user}}</li>
          {% endfor %}
       </ul>
       <p>{{articles}}<p>
       <p>{{users}}</p>
    </body>
</html>